{
  "openapi": "3.0.0",
  "info": {
    "title": "Jupico - OpenAPI 3.0",
    "description": "The Jupico API lets Service Providers onboard merchants, process card and eCheck (ACH) payments, run hosted payment pages, manage recurring billing, send payouts, and query every resource. All endpoints use HTTPS with Basic authentication and accept and return JSON. Endpoints are grouped by workflow: onboard merchants first, then accept payments, then move funds and report.",
    "termsOfService": "https://help.jupico.com/references-and-resources/legal",
    "contact": {
      "email": "support@jupico.com"
    },
    "license": {
      "name": "Jupico License",
      "url": "https://jupico.com"
    },
    "version": "1.0.5"
  },
  "servers": [
    {
      "url": "https://sandbox-platform.jupico.com"
    }
  ],
  "tags": [
    {
      "name": "Status",
      "description": "Health check for the Jupico API."
    },
    {
      "name": "Onboarding Invites",
      "description": "Create and send invites that onboard merchants through the Jupico-hosted flow, with optional pre-filled identity, fees, and payout bank account data."
    },
    {
      "name": "Provisioning",
      "description": "Onboard merchants from your own UI. Collect onboarding data and submit it through the provisioning chain: applicant → application → submerchant."
    },
    {
      "name": "Session",
      "description": "Create browser authorization sessions for the Jupico web components, so card and bank account data is tokenized client-side and never touches your servers."
    },
    {
      "name": "Tokenization",
      "description": "Convert one-time tokens from the web components into permanent Jupico tokens, or tokenize raw card data if your systems are PCI DSS compliant."
    },
    {
      "name": "Customer",
      "description": "Create and manage customer records that payments, subscriptions, installments, and invoices link to."
    },
    {
      "name": "Card Transactions",
      "description": "Process credit and debit card transactions using tokenized card data: sale, authorization, capture, void, refund, and rollback."
    },
    {
      "name": "eCheck Transactions",
      "description": "Debit customer bank accounts via eCheck (ACH): sale, void, refund, rollback, and bank account tokenization."
    },
    {
      "name": "Checkouts",
      "description": "Hosted checkout sessions where customers complete payment on a Jupico-hosted page."
    },
    {
      "name": "Payment Links",
      "description": "Shareable links that open a Jupico-hosted payment page — no integration code needed at the point of sharing."
    },
    {
      "name": "Invoices",
      "description": "Create and email invoices that customers pay online."
    },
    {
      "name": "Subscriptions",
      "description": "Recurring billing. Plans define billing schedules and pricing models; subscriptions enroll customers against a stored payment token."
    },
    {
      "name": "Installments",
      "description": "Split a fixed total into scheduled payments with an optional deposit."
    },
    {
      "name": "Payouts",
      "description": "Send funds from a submerchant's available balance to a tokenized bank account with on-demand payout instructions."
    },
    {
      "name": "Query",
      "description": "Search and report across every resource: transactions, merchants, settlements, balances, disputes, fees, and more. All query endpoints accept the same filter, sort, and pagination envelope — see the Query Capabilities guide."
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Check API status",
        "description": "Returns `200` when the API is reachable. Use this endpoint for health checks and uptime monitoring; it requires no request body.",
        "operationId": "healthCheck",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/healthCheck"
          }
        }
      }
    },
    "/v1/onboardinginvites": {
      "post": {
        "tags": [
          "Onboarding Invites"
        ],
        "summary": "Create an invite",
        "description": "Creates an onboarding invite without sending it. Pre-fill identity, fees, and payout bank account data to shorten the hosted onboarding flow for the merchant. Send the invite later with **Send an invite**.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe",
                    "description": "The name of the person being invited.",
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "example": "example@example.com",
                    "description": "The email of the person being invited.",
                    "maxLength": 100
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "2232322323",
                    "description": "The phone number of the person being invited.",
                    "maxLength": 15
                  },
                  "reference": {
                    "type": "string",
                    "example": "Reference 123",
                    "description": "The invite reference.",
                    "maxLength": 100
                  },
                  "identity": {
                    "type": "object",
                    "properties": {
                      "owners": {
                        "$ref": "#/components/schemas/Owner"
                      },
                      "business": {
                        "$ref": "#/components/schemas/Business"
                      },
                      "contact": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "description": "The identity object containing data about the business and its representatives"
                  },
                  "payoutBankAccounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "accountRouting": {
                          "type": "string",
                          "example": "123123122",
                          "maxLength": 9,
                          "description": "9-digit ABA routing number."
                        },
                        "accountNumber": {
                          "type": "string",
                          "example": "8789545642",
                          "minLength": 6,
                          "maxLength": 17,
                          "description": "Bank account number."
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "checking"
                          ],
                          "example": "checking",
                          "maxLength": 20,
                          "description": "Bank account type, such as `checking`."
                        },
                        "nameOnAccount": {
                          "type": "string",
                          "example": "Updatedjonnydooeiacc",
                          "maxLength": 50,
                          "description": "Name on the bank account."
                        }
                      }
                    },
                    "description": "Bank accounts where the merchant receives payouts."
                  },
                  "feesTemplateId": {
                    "description": "UUID of the fees template with predefined fees. If no value is passed, the id of the default template will be used.",
                    "type": "string",
                    "example": ""
                  },
                  "fees": {
                    "description": "The fees object will overwrite the values set on the fees template, as specified by the feesTemplateId. This allows for customization of fees at the invite overriding any defaults defined in the template.",
                    "type": "object",
                    "properties": {
                      "platform": {
                        "type": "object",
                        "properties": {
                          "interchange": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": false,
                                "description": "Whether this setting is enabled."
                              },
                              "billTo": {
                                "type": "string",
                                "enum": [
                                  "spProduct",
                                  "submerchant"
                                ],
                                "example": "spProduct",
                                "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                              }
                            },
                            "description": "Interchange pass-through fee settings."
                          },
                          "perTransaction": {
                            "type": "object",
                            "properties": {
                              "ccCnpSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present sale."
                              },
                              "ccCnpCapture": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present capture."
                              },
                              "ccCnpAuth": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.25,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present authorization."
                              },
                              "ccCnpVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present void."
                              },
                              "ccCnpRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present refund."
                              },
                              "ccCnpCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present credit."
                              },
                              "ccCnpReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present reversal."
                              },
                              "ccCnpChargeback": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 25,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each chargeback."
                              },
                              "ccCnpAvsOnly": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each AVS-only verification."
                              },
                              "ccCnpDeclined": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.5,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each declined card-not-present attempt."
                              },
                              "checkSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2.9,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each eCheck sale."
                              },
                              "checkVerification": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each eCheck verification."
                              },
                              "checkVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck void."
                              },
                              "checkRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck refund."
                              },
                              "checkCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck credit."
                              },
                              "checkReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck reversal."
                              }
                            },
                            "description": "Event-based fees, one entry per transaction event type."
                          },
                          "perPeriod": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "period": {
                                  "type": "string",
                                  "example": "daily",
                                  "enum": [
                                    "today",
                                    "yesterday",
                                    "last-7-days",
                                    "this-month",
                                    "this-year",
                                    "last-6-months",
                                    "one-time",
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "quarterly",
                                    "per-semester",
                                    "annually"
                                  ],
                                  "description": "Billing period for this recurring fee."
                                },
                                "fixed": {
                                  "type": "number",
                                  "example": 3,
                                  "description": "Fixed fee amount charged each time this event occurs."
                                },
                                "since": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-01T03:00:00.000Z",
                                  "description": "Start of the window during which this fee applies (ISO 8601)."
                                },
                                "until": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-23T03:00:00.000Z",
                                  "description": "End of the window during which this fee applies (ISO 8601)."
                                },
                                "status": {
                                  "type": "string",
                                  "example": "enabled",
                                  "description": "Whether this recurring fee is currently active."
                                },
                                "isTriggerFirstTx": {
                                  "type": "boolean",
                                  "example": false,
                                  "description": "When true, the recurring fee starts only after the merchant processes their first transaction."
                                },
                                "isProrated": {
                                  "type": "boolean",
                                  "example": true,
                                  "description": "Whether the first billing period is prorated."
                                }
                              }
                            },
                            "description": "Recurring fees charged on a fixed schedule, such as monthly service fees."
                          }
                        },
                        "description": "Fee configuration at the platform level."
                      },
                      "spProduct": {
                        "type": "object",
                        "properties": {
                          "interchange": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": false,
                                "description": "Whether this setting is enabled."
                              },
                              "billTo": {
                                "type": "string",
                                "example": "submerchant",
                                "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                              }
                            },
                            "description": "Interchange pass-through fee settings."
                          },
                          "perTransaction": {
                            "type": "object",
                            "properties": {
                              "ccCnpSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present sale."
                              },
                              "ccCnpCapture": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present capture."
                              },
                              "ccCnpAuth": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.25,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present authorization."
                              },
                              "ccCnpVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present void."
                              },
                              "ccCnpRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present refund."
                              },
                              "ccCnpCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present credit."
                              },
                              "ccCnpReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present reversal."
                              },
                              "ccCnpChargeback": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 25,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each chargeback."
                              },
                              "ccCnpAvsOnly": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each AVS-only verification."
                              },
                              "ccCnpDeclined": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.5,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each declined card-not-present attempt."
                              },
                              "checkSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2.9,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each eCheck sale."
                              },
                              "checkVerification": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each eCheck verification."
                              },
                              "checkVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck void."
                              },
                              "checkRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck refund."
                              },
                              "checkCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck credit."
                              },
                              "checkReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck reversal."
                              }
                            },
                            "description": "Event-based fees, one entry per transaction event type."
                          },
                          "perPeriod": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "period": {
                                  "type": "string",
                                  "example": "daily",
                                  "enum": [
                                    "today",
                                    "yesterday",
                                    "last-7-days",
                                    "this-month",
                                    "this-year",
                                    "last-6-months",
                                    "one-time",
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "quarterly",
                                    "per-semester",
                                    "annually"
                                  ],
                                  "description": "Billing period for this recurring fee."
                                },
                                "fixed": {
                                  "type": "number",
                                  "example": 3,
                                  "description": "Fixed fee amount charged each time this event occurs."
                                },
                                "since": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-01T03:00:00.000Z",
                                  "description": "Start of the window during which this fee applies (ISO 8601)."
                                },
                                "until": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-23T03:00:00.000Z",
                                  "description": "End of the window during which this fee applies (ISO 8601)."
                                },
                                "status": {
                                  "type": "string",
                                  "example": "enabled",
                                  "description": "Whether this recurring fee is currently active."
                                },
                                "isTriggerFirstTx": {
                                  "type": "boolean",
                                  "example": false,
                                  "description": "When true, the recurring fee starts only after the merchant processes their first transaction."
                                },
                                "isProrated": {
                                  "type": "boolean",
                                  "example": true,
                                  "description": "Whether the first billing period is prorated."
                                }
                              }
                            },
                            "description": "Recurring fees charged on a fixed schedule, such as monthly service fees."
                          }
                        },
                        "description": "Fee configuration at the Service Provider product level."
                      }
                    }
                  },
                  "onboardingFlowTemplateId": {
                    "type": "string",
                    "description": "UUID of the onboarding flow template to be used for the onboarding experience.",
                    "example": ""
                  }
                },
                "example": {
                  "name": "Tech",
                  "email": "test@gmail.com",
                  "phoneNumber": "2995318324",
                  "reference": "1234",
                  "identity": {
                    "owners": [
                      {
                        "title": "Mr.",
                        "firstName": "jonny",
                        "middleName": "eric",
                        "lastName": "dooei",
                        "birthDate": "2000-08-01",
                        "phoneNumber": "2232322323",
                        "streetNum": "79",
                        "streetName": "clarks",
                        "city": "ny",
                        "state": "NY",
                        "postalCode": "23434",
                        "ssn": "123123123",
                        "ownershipPercentage": 100,
                        "email": "mail_m@asd.com"
                      }
                    ]
                  }
                },
                "required": [
                  "name",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/createOnboardingInvite"
          },
          "400": {
            "description": "Bad Request. Invalid input."
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v1/onboardinginvites/createandsend": {
      "post": {
        "tags": [
          "Onboarding Invites"
        ],
        "summary": "Create and send an invite",
        "description": "Creates an onboarding invite and immediately emails it to the merchant. Equivalent to **Create an invite** followed by **Send an invite** in a single call.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe",
                    "description": "The name of the person being invited."
                  },
                  "email": {
                    "type": "string",
                    "example": "example@example.com",
                    "description": "The email of the person being invited."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "2232322323",
                    "description": "The phone number of the person being invited."
                  },
                  "reference": {
                    "type": "string",
                    "example": "Reference 123",
                    "description": "The invite reference."
                  },
                  "identity": {
                    "type": "object",
                    "properties": {
                      "owners": {
                        "$ref": "#/components/schemas/Owner"
                      },
                      "business": {
                        "$ref": "#/components/schemas/Business"
                      },
                      "contact": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "description": "The identity object containing data about the business and its representatives"
                  },
                  "payoutBankAccounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "accountRouting": {
                          "type": "string",
                          "example": "123123122",
                          "description": "9-digit ABA routing number."
                        },
                        "accountNumber": {
                          "type": "string",
                          "example": "8789545642",
                          "description": "Bank account number."
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "checking"
                          ],
                          "example": "checking",
                          "description": "Bank account type, such as `checking`."
                        },
                        "nameOnAccount": {
                          "type": "string",
                          "example": "Updatedjonnydooeiacc",
                          "description": "Name on the bank account."
                        }
                      }
                    },
                    "description": "Bank accounts where the merchant receives payouts."
                  },
                  "feesTemplateId": {
                    "type": "string",
                    "example": "",
                    "description": "UUID of the fees template with predefined fees. If no value is passed, the id of the default template will be used."
                  },
                  "fees": {
                    "description": "The fees object will overwrite the values set on the fees template, as specified by the feesTemplateId. This allows for customization of fees at the invite overriding any defaults defined in the template.",
                    "type": "object",
                    "properties": {
                      "platform": {
                        "type": "object",
                        "properties": {
                          "interchange": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": false,
                                "description": "Whether this setting is enabled."
                              },
                              "billTo": {
                                "type": "string",
                                "enum": [
                                  "spProduct",
                                  "submerchant"
                                ],
                                "example": "spProduct",
                                "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                              }
                            },
                            "description": "Interchange pass-through fee settings."
                          },
                          "perTransaction": {
                            "type": "object",
                            "properties": {
                              "ccCnpSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present sale."
                              },
                              "ccCnpCapture": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present capture."
                              },
                              "ccCnpAuth": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.25,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each card-not-present authorization."
                              },
                              "ccCnpVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present void."
                              },
                              "ccCnpRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present refund."
                              },
                              "ccCnpCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present credit."
                              },
                              "ccCnpReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each card-not-present reversal."
                              },
                              "ccCnpChargeback": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 25,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each chargeback."
                              },
                              "ccCnpAvsOnly": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each AVS-only verification."
                              },
                              "ccCnpDeclined": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.5,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each declined card-not-present attempt."
                              },
                              "checkSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2.9,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each eCheck sale."
                              },
                              "checkVerification": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Percentage fee charged on the event amount."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  }
                                },
                                "description": "Fee applied to each eCheck verification."
                              },
                              "checkVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck void."
                              },
                              "checkRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck refund."
                              },
                              "checkCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
                                "description": "Fee applied to each eCheck credit."
                              },
                              "checkReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct",
                                    "description": "Which party is billed for this fee: `spProduct` (the Service Provider) or `submerchant` (the merchant)."
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75,
                                    "description": "Fixed fee amount charged each time this event occurs."
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false,
                                    "description": "Whether the fixed fee is returned when the underlying transaction is reversed."
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "Whether the percentage fee is returned when the underlying transaction is reversed."
                                  }
                                },
[...]
