{
  "openapi": "3.0.0",
  "info": {
    "title": "Jupico - OpenAPI 3.0",
    "description": "\n<p>Explore our comprehensive <a href=\"https://docs.jupico.com\">docs</a> for additional resources, including FAQs, best practices, and dedicated support.</p>",
    "termsOfService": "https://help.jupico.com/references-and-resources/legal",
    "contact": {
      "email": "support@jupico.com"
    },
    "license": {
      "name": "Jupico License",
      "url": "https://jupico.com"
    },
    "version": "1.0.5"
  },
  "servers": [
    {
      "url": "https://sandbox-platform.jupico.com"
    }
  ],
  "tags": [
    {
      "name": "Status API",
      "description": "Monitor the health and performance of the platform to ensure stability and availability.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Onboarding Invites API",
      "description": "Manage the lifecycle of onboarding invitations, including creation, dispatch, and cancellation, to streamline the process of integrating new users or partners into the system.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Card Transactions API",
      "description": "Manage card transactions, including tokenization, sales, authorizations, captures, refunds, voids, and reversals.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "E-Check Transactions API",
      "description": "Manage e-check transactions, sales, authorizations, captures, refunds, voids, and reversals.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Payment Links API",
      "description": "",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Checkouts API",
      "description": "",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Invoices API",
      "description": "Manage invoices throughout their lifecycle, from creation and modification to deletion and distribution, to ensure accurate and timely billing processes.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Subscriptions API",
      "description": "",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Installments API",
      "description": "Manage installment payment plans, including creation, activation, deactivation, deletion, and payment token updates.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Dynamic Payouts API",
      "description": "Initiate or void payouts to any merchant bank account, at any time. Merchant must have dynamic mode enabled or requests will fail.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Query API",
      "description": "Utilize flexible querying capabilities, detailed at https://www.npmjs.com/package/query-to-mongo, with support for advanced filters and parameters to retrieve specific data.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Customer API",
      "description": "",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Session API",
      "description": "",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Tokenization API",
      "description": "",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Provisioning API",
      "description": "Manage the merchant onboarding process by creating applicants, applications, and submerchants to enable payment processing capabilities.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    },
    {
      "name": "Currency Exchange API",
      "description": "Query live exchange rates, convert amounts between currencies, and retrieve the list of supported currency codes.",
      "externalDocs": {
        "url": "https://docs.jupico.com/"
      }
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "tags": [
          "Status API"
        ],
        "summary": "Checks if API is online",
        "description": "",
        "operationId": "healthCheck",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/healthCheck"
          }
        }
      }
    },
    "/v1/payouts/instruction": {
      "post": {
        "tags": [
          "Dynamic Payouts API"
        ],
        "summary": "Create a dynamic payouts",
        "requestBody": {
          "$ref": "#/components/requestBodies/createPayout"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createPayout"
          }
        }
      }
    },
    "/v1/payouts/creditcard/instruction": {
      "post": {
        "tags": [
          "Dynamic Payouts API"
        ],
        "summary": "Create a dynamic payouts for credit cards",
        "requestBody": {
          "$ref": "#/components/requestBodies/createPayout"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createPayout"
          }
        }
      }
    },
    "/v1/payouts/echeck/instruction": {
      "post": {
        "tags": [
          "Dynamic Payouts API"
        ],
        "summary": "Create a dynamic payouts for echeck",
        "requestBody": {
          "$ref": "#/components/requestBodies/createPayout"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createPayout"
          }
        }
      }
    },
    "/v1/payouts/instruction/void": {
      "post": {
        "tags": [
          "Dynamic Payouts API"
        ],
        "summary": "Void a dynamic payouts",
        "requestBody": {
          "$ref": "#/components/requestBodies/voidPayout"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/voidPayout"
          }
        }
      }
    },
    "/v1/transactions/creditcard/sale": {
      "post": {
        "tags": [
          "Card Transactions API"
        ],
        "summary": "Process a card sale",
        "description": "A 'Sale' combines the authorization and capture process into one transaction. It is typically used when customer purchases are fulfilled immediately, e.g grocery store. If the cardholder's issuing bank approves the transaction, an approval code will be returned. If the transaction is declined by the issuing bank for insufficient funds or other reasons, an error message containing the reason is returned.",
        "operationId": "ccSale",
        "requestBody": {
          "$ref": "#/components/requestBodies/ccSale"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ccSale"
          }
        }
      }
    },
    "/v1/transactions/creditcard/authorization": {
      "post": {
        "tags": [
          "Card Transactions API"
        ],
        "summary": "Authorize a card",
        "description": "An 'Authorization' confirms a cardholder's ability to pay and is used when the final transaction amount is unknown or products/services aren't rendered immediately e.g adjusting for tips at a restaraunt or putting a card on file at a hotel.",
        "operationId": "ccAuth",
        "requestBody": {
          "$ref": "#/components/requestBodies/ccAuth"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ccAuth"
          }
        }
      }
    },
    "/v1/transactions/creditcard/capture": {
      "post": {
        "tags": [
          "Card Transactions API"
        ],
        "summary": "Capture a card authorization",
        "description": "A 'Capture' is the process of confirming and initiating settlement on a previously authorized transaction, charging the customer for the reserved amount. A Capture can be entered for any amount up to an allowable excess limit, which is determined by the cardholder's issuing bank.",
        "operationId": "ccCapture",
        "requestBody": {
          "$ref": "#/components/requestBodies/ccCapture"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ccCapture"
          }
        }
      }
    },
    "/v1/transactions/creditcard/refund": {
      "post": {
        "tags": [
          "Card Transactions API"
        ],
        "summary": "Refund a card transaction",
        "description": "A 'Refund' returns funds to the customer's card for a previously settled transaction. Refunds are typically issued in cases of returns, cancellations, or customer disputes.",
        "operationId": "ccRefund",
        "requestBody": {
          "$ref": "#/components/requestBodies/ccRefund"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ccRefund"
          }
        }
      }
    },
    "/v1/transactions/creditcard/rollback": {
      "post": {
        "tags": [
          "Card Transactions API"
        ],
        "summary": "Rollback a card transaction",
        "description": "A 'Rollback' (or Communications/System Reversal) is generated when there is a problem delivering the response back to the server side code. It is your responsibility, as the original requestor, to generate a 'Rollback' for all transactions that do not receive responses.",
        "operationId": "ccRollback",
        "requestBody": {
          "$ref": "#/components/requestBodies/ccRollback"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ccRollback"
          }
        }
      }
    },
    "/v1/transactions/creditcard/void": {
      "post": {
        "tags": [
          "Card Transactions API"
        ],
        "summary": "Void a card transaction",
        "operationId": "ccVoid",
        "requestBody": {
          "$ref": "#/components/requestBodies/ccVoid"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ccVoid"
          }
        }
      }
    },
    "/v1/transactions/echeck/sale": {
      "post": {
        "tags": [
          "E-Check Transactions API"
        ],
        "summary": "Process an eCheck sale",
        "description": "An eCheck 'Sale' transaction initiates a direct debit from a customer's bank account. It is used when funds need to be collected immediately, similar to a credit card sale. If the bank approves the debit request, the transaction is completed successfully. Otherwise, an error message indicating the failure reason will be returned.",
        "operationId": "eCheckSale",
        "requestBody": {
          "$ref": "#/components/requestBodies/eCheckSale"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/eCheckOperationResponse"
          }
        }
      }
    },
    "/v1/transactions/echeck/void": {
      "post": {
        "tags": [
          "E-Check Transactions API"
        ],
        "summary": "Void an eCheck transaction",
        "operationId": "eCheckVoid",
        "requestBody": {
          "$ref": "#/components/requestBodies/eCheckVoid"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/eCheckOperationResponse"
          }
        }
      }
    },
    "/v1/transactions/echeck/tokenize": {
      "post": {
        "tags": [
          "E-Check Transactions API"
        ],
        "summary": "Tokenize bank account details",
        "description": "This operation securely tokenizes a customer’s bank account information. The resulting token can be used in place of raw account data in future transactions, improving security and simplifying compliance.",
        "operationId": "eCheckTokenize",
        "requestBody": {
          "$ref": "#/components/requestBodies/eCheckTokenize"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/eCheckTokenize"
          }
        }
      }
    },
    "/v1/transactions/echeck/refund": {
      "post": {
        "tags": [
          "E-Check Transactions API"
        ],
        "summary": "Refund an eCheck transaction",
        "description": "An eCheck 'Refund' reverses a previously settled debit transaction by returning the funds to the customer's bank account. It is typically used for returns, order cancellations, or customer disputes.",
        "operationId": "eCheckRefund",
        "requestBody": {
          "$ref": "#/components/requestBodies/eCheckRefund"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/eCheckOperationResponse"
          }
        }
      }
    },
    "/v1/transactions/echeck/rollback": {
      "post": {
        "tags": [
          "E-Check Transactions API"
        ],
        "summary": "Rollback an eCheck transaction",
        "description": "An eCheck 'Rollback' reverses a previously settled debit transaction by returning the funds to the customer's bank account. It is typically used for returns, order cancellations, or customer disputes.",
        "operationId": "eCheckRollback",
        "requestBody": {
          "$ref": "#/components/requestBodies/eCheckRollback"
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/eCheckOperationResponse"
          }
        }
      }
    },
    "/v1/query/transactions/timeline": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Get transaction timeline",
        "description": "Obtain a chronological timeline of transactions, providing a detailed view of transaction activities over time.",
        "operationId": "Timeline",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "Timeline": {
                  "value": {
                    "transactionId": "Id of the transaction to get timeline"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/transactionPath"
          }
        }
      }
    },
    "/v1/query/merchants": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve all merchants",
        "description": "Fetch details for all merchants registered in the system, including their profile and operational status.",
        "operationId": "findAllMerchants",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findAllMerchants"
          }
        }
      }
    },
    "/v1/query/merchants/bankaccounts": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "List merchant bank accounts",
        "description": "Access a list of all bank accounts associated with merchants, including account details and statuses.",
        "operationId": "findAllMerchantsBankaccounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findAllMerchantsBankaccounts"
          }
        }
      }
    },
    "/v1/query/transactions": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "List all operations",
        "description": "Fetch a complete list of transactions, offering insights into all processed financial activities.",
        "operationId": "Query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "processing[batchDate]": {
                    "type": "string",
                    "format": "date",
                    "description": "The batch processing date"
                  },
                  "metadata.test": {
                    "type": "string",
                    "example": "test"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/transactionQuery"
          }
        }
      }
    },
    "/v1/query/fees": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Find all fees",
        "description": "Find all fees",
        "operationId": "findAllFees",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findAllFees"
          }
        }
      }
    },
    "/v1/query/payouts/instructions": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve payout instructions",
        "description": "Access detailed instructions for processing payouts, including methods and necessary details for each transaction.",
        "operationId": "findAllPayoutInstructions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findAllPayoutInstructions"
          }
        }
      }
    },
    "/v1/query/payouts/balance/available": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Check available balance",
        "description": "View the available balance for payouts, ensuring sufficient funds for upcoming transactions.",
        "operationId": "findBalanceAvailable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subMerchantId": {
                    "type": "string",
                    "example": "874767775007",
                    "description": "The unique identifier for the submerchant."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findBalance"
          }
        }
      }
    },
    "/v1/query/payouts/balance/creditcard/available": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Check available balance credit cards",
        "description": "View the available balance for credit card payouts, ensuring sufficient funds for upcoming transactions.",
        "operationId": "findBalanceCreditCard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subMerchantId": {
                    "type": "string",
                    "example": "874767775007",
                    "description": "The unique identifier for the submerchant."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findBalanceCreditCard"
          }
        }
      }
    },
    "/v1/query/payouts/balanc/echeck/available": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Check available balance echeck",
        "description": "View the available balance for echeck payouts, ensuring sufficient funds for upcoming transactions.",
        "operationId": "findBalanceEcheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subMerchantId": {
                    "type": "string",
                    "example": "874767775007",
                    "description": "The unique identifier for the submerchant."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findBalanceEcheck"
          }
        }
      }
    },
    "/v1/query/settlements/submerchant": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve settlements for submerchants",
        "description": "Obtain detailed information on all settlements processed, including timing and amounts settled.",
        "operationId": "findSettlementsSubmerchant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findSettlementsSubmerchant"
          }
        }
      }
    },
    "/v1/query/settlements/service-provider": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve settlements for service providers",
        "description": "Obtain detailed information on all settlements processed, including timing and amounts settled.",
        "operationId": "findSettlementsServiceProvider",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findSettlementsServiceProvider"
          }
        }
      }
    },
    "/v1/query/disputes": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "List all disputes",
        "description": "Get a list of all disputes filed against transactions, including dispute status and resolution details.",
        "operationId": "findDisputes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findDisputes"
          }
        }
      }
    },
    "/v1/query/disputes/chartslines": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve dispute history",
        "description": "Fetch the event timeline for a dispute, detailing each stage and status change to track its progression.",
        "operationId": "findDisputesChartslines",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findDisputesChartLines"
          }
        }
      }
    },
    "/v1/query/checkouts": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve checkout sessions",
        "description": "Fetch details on all active and past checkout sessions, providing insights into customer checkout behaviors.",
        "operationId": "findCheckouts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findCheckouts"
          }
        }
      }
    },
    "/v1/query/paymentlinks": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Find payment links",
        "description": "Access all generated payment links, detailing usage statistics and statuses for tracking purposes.",
        "operationId": "findPaymentLinks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findPaymentLinks"
          }
        }
      }
    },
    "/v1/query/onboardinginvites": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "List onboarding invitations",
        "description": "Retrieve all onboarding invitations sent to new users or partners, including their current statuses.",
        "operationId": "findOnboardingInvites",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findOnboardingInvites"
          }
        }
      }
    },
    "/v1/query/invoices": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve invoices",
        "description": "List all invoices issued within the system, including details on amounts, statuses, and associated parties.",
        "operationId": "findInvoices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findInvoices"
          }
        }
      }
    },
    "/v1/query/subscriptions": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "List all subscriptions",
        "description": "Get information on all active and inactive subscriptions, including service terms and renewal dates.",
        "operationId": "findAllSubscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findAllQuerySubscriptions"
          }
        }
      }
    },
    "/v1/query/subscriptions/plan": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve all subscription plans",
        "description": "Access details on all available subscription plans, including benefits, pricing, and conditions.",
        "operationId": "findAllPlan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findAllPlans"
          }
        }
      }
    },
    "/v1/query/subscriptions/plan/{planId}": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Get subscription plan by ID",
        "description": "Fetch detailed information on a specific subscription plan using its unique plan ID, including features and eligibility criteria",
        "parameters": [
          {
            "in": "path",
            "name": "planId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "planID"
          }
        ],
        "operationId": "findPlanById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findPlanById"
          }
        }
      }
    },
    "/v1/query/installments": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "List all installments",
        "description": "Get information on all active and inactive installments, including payment schedules and statuses.",
        "operationId": "queryInstallments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/queryInstallments"
          }
        }
      }
    },
    "/v1/query/merchants/applications": {
      "post": {
        "tags": [
          "Query API"
        ],
        "summary": "Retrieve provisioning applications",
        "description": "Fetch details for all provisioning applications, including their status, applicant information, and associated sub-merchants.",
        "operationId": "findProvisioningApplications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/findProvisioningApplications"
          }
        }
      }
    },
    "/v1/onboardinginvites": {
      "post": {
        "tags": [
          "Onboarding Invites API"
        ],
        "summary": "Create a new invite",
        "description": "Create an invite to onboard a new merchant or partner, without sending it immediately.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe",
                    "description": "The name of the person being invited.",
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "example": "example@example.com",
                    "description": "The email of the person being invited.",
                    "maxLength": 100
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "2232322323",
                    "description": "The phone number of the person being invited.",
                    "maxLength": 15
                  },
                  "reference": {
                    "type": "string",
                    "example": "Reference 123",
                    "description": "The invite reference.",
                    "maxLength": 100
                  },
                  "identity": {
                    "type": "object",
                    "properties": {
                      "owners": {
                        "$ref": "#/components/schemas/Owner"
                      },
                      "business": {
                        "$ref": "#/components/schemas/Business"
                      },
                      "contact": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "description": "The identity object containing data about the business and its representatives"
                  },
                  "payoutBankAccounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "accountRouting": {
                          "type": "string",
                          "example": "123123122",
                          "maxLength": 9
                        },
                        "accountNumber": {
                          "type": "string",
                          "example": "8789545642",
                          "minLength": 6,
                          "maxLength": 17
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "checking"
                          ],
                          "example": "checking",
                          "maxLength": 20
                        },
                        "nameOnAccount": {
                          "type": "string",
                          "example": "Updatedjonnydooeiacc",
                          "maxLength": 50
                        }
                      }
                    }
                  },
                  "feesTemplateId": {
                    "description": "UUID of the fees template with predefined fees. If no value is passed, the id of the default template will be used.",
                    "type": "string",
                    "example": ""
                  },
                  "fees": {
                    "description": "The fees object will overwrite the values set on the fees template, as specified by the feesTemplateId. This allows for customization of fees at the invite overriding any defaults defined in the template.",
                    "type": "object",
                    "properties": {
                      "platform": {
                        "type": "object",
                        "properties": {
                          "interchange": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": false
                              },
                              "billTo": {
                                "type": "string",
                                "enum": [
                                  "spProduct",
                                  "submerchant"
                                ],
                                "example": "spProduct"
                              }
                            }
                          },
                          "perTransaction": {
                            "type": "object",
                            "properties": {
                              "ccCnpSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "ccCnpCapture": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "ccCnpAuth": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.25
                                  }
                                }
                              },
                              "ccCnpVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpChargeback": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 25
                                  }
                                }
                              },
                              "ccCnpAvsOnly": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  }
                                }
                              },
                              "ccCnpDeclined": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.5
                                  }
                                }
                              },
                              "checkSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2.9
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "checkVerification": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  }
                                }
                              },
                              "checkVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              }
                            }
                          },
                          "perPeriod": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "period": {
                                  "type": "string",
                                  "example": "daily",
                                  "enum": [
                                    "today",
                                    "yesterday",
                                    "last-7-days",
                                    "this-month",
                                    "this-year",
                                    "last-6-months",
                                    "one-time",
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "quarterly",
                                    "per-semester",
                                    "annually"
                                  ]
                                },
                                "fixed": {
                                  "type": "number",
                                  "example": 3
                                },
                                "since": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-01T03:00:00.000Z"
                                },
                                "until": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-23T03:00:00.000Z"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "enabled"
                                },
                                "isTriggerFirstTx": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "isProrated": {
                                  "type": "boolean",
                                  "example": true
                                }
                              }
                            }
                          }
                        }
                      },
                      "spProduct": {
                        "type": "object",
                        "properties": {
                          "interchange": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": false
                              },
                              "billTo": {
                                "type": "string",
                                "example": "submerchant"
                              }
                            }
                          },
                          "perTransaction": {
                            "type": "object",
                            "properties": {
                              "ccCnpSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "ccCnpCapture": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "ccCnpAuth": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.25
                                  }
                                }
                              },
                              "ccCnpVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpChargeback": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 25
                                  }
                                }
                              },
                              "ccCnpAvsOnly": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  }
                                }
                              },
                              "ccCnpDeclined": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.5
                                  }
                                }
                              },
                              "checkSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2.9
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "checkVerification": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  }
                                }
                              },
                              "checkVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              }
                            }
                          },
                          "perPeriod": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "period": {
                                  "type": "string",
                                  "example": "daily",
                                  "enum": [
                                    "today",
                                    "yesterday",
                                    "last-7-days",
                                    "this-month",
                                    "this-year",
                                    "last-6-months",
                                    "one-time",
                                    "daily",
                                    "weekly",
                                    "monthly",
                                    "quarterly",
                                    "per-semester",
                                    "annually"
                                  ]
                                },
                                "fixed": {
                                  "type": "number",
                                  "example": 3
                                },
                                "since": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-01T03:00:00.000Z"
                                },
                                "until": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2025-08-23T03:00:00.000Z"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "enabled"
                                },
                                "isTriggerFirstTx": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "isProrated": {
                                  "type": "boolean",
                                  "example": true
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "onboardingFlowTemplateId": {
                    "type": "string",
                    "description": "UUID of the onboarding flow template to be used for the onboarding experience.",
                    "example": ""
                  }
                },
                "example": {
                  "name": "Tech",
                  "email": "test@gmail.com",
                  "phoneNumber": "2995318324",
                  "reference": "1234",
                  "identity": {
                    "owners": [
                      {
                        "title": "Mr.",
                        "firstName": "jonny",
                        "middleName": "eric",
                        "lastName": "dooei",
                        "birthDate": "2000-08-01",
                        "phoneNumber": "2232322323",
                        "streetNum": "79",
                        "streetName": "clarks",
                        "city": "ny",
                        "state": "NY",
                        "postalCode": "23434",
                        "ssn": "123123123",
                        "ownershipPercentage": 100,
                        "email": "mail_m@asd.com"
                      }
                    ]
                  }
                },
                "required": [
                  "name",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/createOnboardingInvite"
          },
          "400": {
            "description": "Bad Request. Invalid input."
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v1/onboardinginvites/addsubmerchant": {
      "post": {
        "tags": [
          "Onboarding Invites API"
        ],
        "summary": "Create a new invite to add a merchant",
        "description": "Create an invite to add a merchant to a new or existing application, linked to a specific applicant.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "spProductId": {
                    "type": "string",
                    "example": "255",
                    "description": "The Service provider product reference.",
                    "maxLength": 100
                  },
                  "reference": {
                    "type": "string",
                    "example": "Reference 123",
                    "description": "The invite reference.",
                    "maxLength": 100
                  },
                  "applicantId": {
                    "type": "string",
                    "example": "682e0ef81da12ab7229dbf64",
                    "description": "The aplicant reference"
                  },
                  "invitedToSmAppId": {
                    "type": "string",
                    "example": "682e176bbee4495f337a0464",
                    "description": "Application reference to filter in the invite"
                  },
                  "identity": {
                    "type": "object",
                    "properties": {
                      "owners": {
                        "$ref": "#/components/schemas/Owner"
                      },
                      "business": {
                        "$ref": "#/components/schemas/Business"
                      },
                      "contact": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "description": "The identity object containing data about the business and its representatives"
                  },
                  "payoutBankAccounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "accountRouting": {
                          "type": "string",
                          "example": "123123122",
                          "maxLength": 9
                        },
                        "accountNumber": {
                          "type": "string",
                          "example": "8789545642",
                          "minLength": 6,
                          "maxLength": 17
                        },
                        "accountType": {
                          "type": "string",
                          "enum": [
                            "checking"
                          ],
                          "example": "checking",
                          "maxLength": 20
                        },
                        "nameOnAccount": {
                          "type": "string",
                          "example": "Updatedjonnydooeiacc",
                          "maxLength": 50
                        }
                      }
                    }
                  },
                  "feesTemplateId": {
                    "description": "UUID of the fees template with predefined fees. If no value is passed, the id of the default template will be used.",
                    "type": "string",
                    "example": ""
                  },
                  "fees": {
                    "description": "The fees object will overwrite the values set on the fees template, as specified by the feesTemplateId. This allows for customization of fees at the invite overriding any defaults defined in the template.",
                    "type": "object",
                    "properties": {
                      "platform": {
                        "type": "object",
                        "properties": {
                          "interchange": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": false
                              },
                              "billTo": {
                                "type": "string",
                                "enum": [
                                  "spProduct",
                                  "submerchant"
                                ],
                                "example": "spProduct"
                              }
                            }
                          },
                          "perTransaction": {
                            "type": "object",
                            "properties": {
                              "ccCnpSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "ccCnpCapture": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "ccCnpAuth": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.25
                                  }
                                }
                              },
                              "ccCnpVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "ccCnpChargeback": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 25
                                  }
                                }
                              },
                              "ccCnpAvsOnly": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  }
                                }
                              },
                              "ccCnpDeclined": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.5
                                  }
                                }
                              },
                              "checkSale": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 2.9
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.3
                                  }
                                }
                              },
                              "checkVerification": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "discountRate": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  }
                                }
                              },
                              "checkVoid": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkRefund": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkCredit": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
                                      "submerchant"
                                    ],
                                    "example": "spProduct"
                                  },
                                  "fixed": {
                                    "type": "number",
                                    "example": 0.75
                                  },
                                  "reverseFixed": {
                                    "type": "boolean",
                                    "example": false
                                  },
                                  "reverseDiscountRate": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "checkReversal": {
                                "type": "object",
                                "properties": {
                                  "billTo": {
                                    "type": "string",
                                    "enum": [
                                      "spProduct",
[...]
